streamlit==1.29.0
langchain
langchain_community
langchain_groq
langchain_openai
langchain_core
python-dotenv
sentence_transformers==2.2.2
torch
InstructorEmbedding
pypdf
cryptography
chromadb
pysqlite3-binary
llama-parse
fastembed
unstructured[md]
llama_index